<div class="relative flex items-center h-screen bg-black">
  <div class="absolute inset-0 flex flex-col md:flex-row justify-between">
    <div class="flex flex-col p-6 md:p-12 text-white justify-center">
      <h1 class="text-3xl md:text-5xl font-bold mb-2 md:mb-4">INTELLIGENT TIME MEASUREMENT SYSTEM</h1>
      <p class="text-base md:text-xl text-gray-400">
        Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin.
      </p>
    </div>
    <div class="flex w-full">
      <img src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_1184,h_666,dpr_2.0,q_auto,c_fill,f_auto,fl_lossy/auto-client/66d613b5d554cc85c40d7c4910a022ec/mercedes_amg_a_class_w177_teaser_interior_3302x1858_01_2023.jpg" alt="Car Image" class="h-full w-full object-cover"/>
    </div>
  </div>
</div>

<div class="bg-black py-8">
  <div class="mx-auto px-4 sm:px-6 lg:px-12">
    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-12 gap-4 justify-around items-center">
      <img src="https://cdn.worldvectorlogo.com/logos/honda-logo-4.svg" alt="Honda Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/toyota-7.svg" alt="Toyota Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/volkswagen-logo-till-1995.svg" alt="Volkswagen Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/mercedes-benz-9.svg" alt="Mercedes Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/2048px-BMW.svg.png" alt="BMW Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/audi-13.svg" alt="Audi Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/2048px-Tesla_Motors.svg.png" alt="Tesla Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/porsche-2.svg" alt="Porsche Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/aston-martin-1.svg" alt="Aston Martin Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/lamborghini.svg" alt="Lamborghini Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/rolls-royce.svg" alt="Rolls-Royce Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
      <img src="https://cdn.worldvectorlogo.com/logos/fiat-3.svg" alt="Fiat Logo" class="h-8 md:h-12 opacity-60 hover:opacity-100"/>
    </div>
  </div>
</div>

<div class="flex flex-col md:flex-row justify-between px-8 md:px-16 lg:px-32 py-8 bg-black space-y-6 md:space-y-0 md:space-x-24">
  <div>
    <h1 class="text-3xl md:text-5xl font-bold mb-4 text-white">We are the leaders in the automotive industry</h1>
  </div>
  <div class="text-gray-100">
    <p class="text-base md:text-xl">Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin.</p>
    <button class="p-2 mt-4 bg-red-600 text-white rounded">Learn more</button>
  </div>
</div>

<div class="px-8 md:px-16 lg:px-32 py-8 bg-black">
  <div class="flex w-full h-[300px] md:h-[400px]">
    <img src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_1184,h_666,dpr_2.0,q_auto,c_fill,f_auto,fl_lossy/auto-client/9df674f9b72101d4ba8055ef9c0bc31e/mercedes_amg_a_class_w177_exterior_35_radiator_grill_2176x1224_12_2022.jpg" alt="Car Image" class="h-full w-full object-cover"/>
  </div>
</div>

<!-- Best Features Section -->
<section class="py-12 md:py-16 bg-black text-white">
  <h2 class="text-center text-3xl md:text-4xl font-bold mb-4">WE HAVE BEST FEATURES</h2>
  <p class="mb-12 text-center text-gray-400">Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin.</p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-20 px-8 md:px-16 lg:px-24">
    <div>
      <h3 class="text-xl md:text-2xl font-bold mb-2 text-gray-400">01</h3>
      <h3 class="text-xl md:text-2xl font-bold mb-4">Quality Choice</h3>
      <p class="mb-4 text-gray-400">Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin.</p>
      <button class="text-gray-200">Learn More</button>
    </div>
    <div>
      <h3 class="text-xl md:text-2xl font-bold mb-2 text-gray-400">02</h3>
      <h3 class="text-xl md:text-2xl font-bold mb-4">Exclusive Service For You</h3>
      <p class="mb-4 text-gray-400">Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin.</p>
      <button class="text-gray-200">Learn More</button>
    </div>
    <div>
      <h3 class="text-xl md:text-2xl font-bold mb-2 text-gray-400">03</h3>
      <h3 class="text-xl md:text-2xl font-bold mb-4">Fast and Safe Transaction</h3>
      <p class="mb-4 text-gray-400">Get the car of your dreams with the installments of your choice. There are various attractive offers from Moladin.</p>
      <button class="text-gray-200">Learn More</button>
    </div>
  </div>
</section>

<!-- Car Category Section -->
<section class="container mx-auto px-4 py-12 text-white">
  <h2 class="text-2xl md:text-3xl font-bold mb-8  md:px-16 ">Car Category</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 px-8 md:px-16 lg:px-24">
    <div *ngFor="let item of carBrands" class="relative overflow-hidden h-64 md:h-72 rounded-lg shadow-lg group">
      <img [src]="item.imageUrl" class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110">
      <div class="absolute inset-0 bg-gradient-to-b from-black via-transparent to-black opacity-70"></div>
      <div class="absolute bottom-4 left-4">
        <h3 class="text-white text-lg md:text-xl font-bold">{{item.name}}</h3>
      </div>
      <a [routerLink]="['/list',item.name]" class="absolute bottom-4 right-4 bg-red-600 text-white px-3 py-2 rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <i class="fa-solid fa-location-arrow"></i>
      </a>
    </div>
  </div>
</section>
