<div class="mx-12">

 
 <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex justify-between mb-4 items-center">
       
       <div class="w-1/5">
         <label for="brand_select" class="block mb-2 text-sm font-medium text-white">Select Brand</label>
         <select id="brand_select" class="h-auto border bg-black border-gray-300 text-white text-base rounded-lg block w-full py-1.5 px-2 focus:outline-none" 
                 >
           <option value="">All Brands</option>
           
         </select>
       </div>
       <span class="text-sm font-normal text-gray-500  mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-gray-200 ">1-10</span> of <span class="font-semibold text-gray-200 "></span></span>
     </div>
  
    <table class="w-full text-sm text-left rtl:text-right text-white">
      <thead class="text-xs uppercase bg-gray-500">
        <tr>
          <th scope="col" class="px-6 py-3">Picture</th>
          <th scope="col" class="px-6 py-3">Brand</th>
          <th scope="col" class="px-6 py-3">Model</th>
          <th scope="col" class="px-6 py-3">Year</th>
          <th scope="col" class="px-6 py-3">Nom & Prenom</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Adresse</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Reservation</th>
          <th scope="col" class="px-6 py-3">Action</th>
          <!-- Add other headers as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reservations | paginate: { itemsPerPage: itemsPerPage(), currentPage: currentPage() }" class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-700 dark:hover:bg-gray-600">
 
          <td class="px-6 py-4"><img class="w-20 h-20 rounded-full" [src]="item.car.image_url"  alt="Jese image"></td>
          <td class="px-6 py-4">{{item.car.brand}}</td>
          <td class="px-6 py-4">{{item.car.model}}</td>
          <td class="px-6 py-4">{{item.car.year}}</td>
          <td class="px-6 py-4">{{item.nom}}</td>
          <td class="px-6 py-4">{{item.email}}</td>
          <td class="px-6 py-4">{{item.adresse}}</td>
          <td class="px-6 py-4">{{item.car.price}}</td>
          <td class="px-6 py-4">{{item.montant}}</td>
          <td class="px-6 py-4 flex items-center gap-2">
             <button (click)="openModal(item)" class="font-medium text-xl  hover:text-green-500 pt-8"><i class="fa-solid fa-circle-info"></i></button>
           </td>
          <!-- Add other car data cells as needed -->
        </tr>
      </tbody>
    </table>
  </div>
  <app-reservation-details-modal
    [reservation]="selectedReservation"
    [isVisible]="isModalVisible"
    (closeEvent)="closeModal()"
  ></app-reservation-details-modal>
  <div class="mt-8 flex justify-center">
    <pagination-controls 
      (pageChange)="currentPage.set($event)"
      class="pagination-controls"
    ></pagination-controls>
  </div>
 </div>
 